fastapi
uvicorn[standard]
motor
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
langchain
langchain-community
langchain-google-genai
langchain-ollama
google-generativeai
chromadb
python-multipart
python-dotenv
pydantic[email]
pydantic-settings
